footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #00DFFC;
  height: 70px;
  padding: 15px;
  text-align: center;
}

footer a{
  text-align: 35px;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  color: #005F6B;
  text-transform: uppercase;
}

footer .pageNb{
  display: inline-block;
}

footer p{
  color: white;
}
