#gallery{
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 5%;
}

#gallery .galleryImgCanvas{
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 0;
  -webkit-transition: filter 0.5s;
  transition: filter 0.5s;
}

#gallery .galleryImgCanvas img{
  width: 100%;
}

.toGrayscale{
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.deletePicture{
  position: absolute;
  top: 0;
  background-color: rgba(255, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.deletePicture:hover{
  opacity: 1;
}

#gallery .galleryImgCanvas:hover .toGrayscale{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#gallery .galleryImgCanvas:hover .imgInfo{
  opacity: 1;
}

#gallery .galleryImgCanvas .buttonContainer{
  display: flex;
}

#gallery .galleryImgCanvas .buttonContainer button{
  flex: 1;
  z-index: 10;
}

#gallery .galleryImgCanvas .imgInfo{
  opacity: 0;
  position:absolute;
  width: 100%;
  top: 40%;
  color: white;
  webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#gallery .galleryImgCanvas .imgInfo h3{
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  color: #343838;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#gallery .galleryImgCanvas .imgInfo .socialDiv button img{
  -moz-transition: all 0.3s,
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#gallery .galleryImgCanvas .imgInfo .socialDiv button:hover img{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 0;
}

#gallery .galleryImgCanvas .imgInfo .socialDiv a img{
  -moz-transition: all 0.3s,
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#gallery .galleryImgCanvas .imgInfo .socialDiv a:hover img{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 0;
}

#gallery .galleryImgCanvas .socialDiv{
  width: 150px;
  height: 50px;
  margin: auto;
  display: flex;
}

.socialDiv p{
  flex: 1;
}

.socialDiv a{
  flex: 1;
  height: 100%;
}

.socialDiv button{
  flex: 1;
  position: relative;
  height: 100%;
  background-color: transparent;
  padding: 0;
}

.socialDiv button p{
  position: absolute;
  color: white;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  z-index: 10;
}

@media (max-width: 1200px){
  #gallery .galleryImgCanvas{
    width: 49%;
  }
}

@media (max-width: 800px){
  #gallery{
    margin-bottom: 50px;
  }

  #gallery .galleryImgCanvas{
    width: 99%;
  }
}

@media (max-width: 600px){
  #gallery .galleryImgCanvas .buttonContainer{
    flex-direction: column;
  }
}
