#mainPage{
  background-color: white;
  padding: 20px 0 20px 0;
  border: solid 2px #00DFFC;
}

#videoCanvas{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#frameDiv{
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 640px;
  margin: 0 auto 20px auto;
}

#previewCanvas{
  width: 30%;
  max-width: 300px;
  height: 580px;
  overflow-y: scroll;
}

#videoContainer{
  flex: 1;
  position: relative;
  width: 640px;
  height: 480px;
}

#videoContainer canvas{
  background-color: blue;
  z-index: 10000;
}

#videoContainer video{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: scaleX(-1);
}

#videoContainer img{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#videoContainer button{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 3;
}

#saveButtons{
  width: 100%;
  height: 100%;
}

#saveButtons button{
  position: absolute;
  width: 50%;
  background-color: transparent;
  opacity: 0;
}

#saveButtons button:nth-child(1){
  background-color: rgba(0, 255, 0, 0.2);
  left: 0;
}


#saveButtons button:nth-child(2){
  background-color: rgba(255, 0, 0, 0.2);
  right: 0;
}

#saveButtons button:hover{
  opacity: 1;
}

#clickPicture{
  opacity: 0;
  background-color: rgba(0, 223, 252, 0.1);
}

#clickPicture:hover{
  opacity: 1;
}

#videoContainer button{
  text-align: center;
  font-size: 2em;
}

.hidden{
  display: none;
}

.displayed{
  display: block;
}

#uploadForm{
  height: 50px;
  width: 100%;
  display: flex;
}

.uploadButton{
  flex:1;
  position: relative;
}

.uploadButton input{
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  border: solid black 1px;
}

.uploadButton input + label{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.uploadButton input[type="submit"] + label{
  text-align: center;
  line-height: 75px;
  background-color: green;
  color: white;
}

.uploadButton input[type="file"] + label{
  background-color: #00DFFC;
  color: #005F6B;
}

.uploadButton input[type="file"] + label img{
  width: 30px;
  margin: 10px 10px 0 50px;
}

#previewCanvas img{
  width: 95%;
  padding-left: 5%;
  height: auto;
}

#frameSelect{
  flex: 1;
  display: flex;
  padding: 5px 0 5px 0;
  background-color: #343838;
}

.radio-img{
  flex: 1;
  margin: auto;
}

.radio-img input {
  display:none;
}

.radio-img .imgContainer{
  width: 50px;
  margin: auto;
  cursor:pointer;
}

.radio-img .imgContainer img{
  width: 100%;
}

input:checked + .imgContainer{
  background-color: white;
}

@media (max-width: 1000px){
  #mainPage{
    flex-direction: column;
  }

  #previewCanvas{
    width: 100%;
    max-width: none;
  }
}
